## Analytics-zoo Cluster Serving

model:
  # model path must be set
  path: model
data:
  # default, localhost:6379
  src:
  # default, 3, 224, 224
  image_shape:
params:
  # default, 4
  batch_size:
  # default, 1
  top_n:
redis:
  # default, 4g
  maxmem: 
spark:
  # default, local[*]
  master: 
  # default, 4g
  driver_memory:
  # default, 1g
  executor_memory:
  # default, 1
  num_executors:
  # default, 4
  executor_cores:
  # default, 4
  total_executor_cores:
