aiohttp
cloudpickle
cmake==3.16.3
conda-pack
h5py
horovod==0.19.2
jupyter
jupyterlab
matplotlib
numpy==1.18.1
opencv-python
pandas==1.0.3
Pillow==6.1
psutil
py4j
pyyaml
ray[tune]==1.2.0
redis
requests
scipy
scikit-learn
seaborn
tensorboard
tensorflow==1.15.0
torch==1.7.1
torchvision==0.8.2
tornado
