
.DS_Store
.gradle/4.4/fileChanges/last-build.bin
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.settings/org.eclipse.buildship.core.prefs
*.jar
*.xml
*.class
*.cache

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea/
.idea/modules
.idea/workspace.xml
target/
*.xml
